@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&display=swap');

html {
  scroll-behavior: smooth;
}
:root {
  --primaryFont: 'Inter', sans-serif;
  --secondaryFont: 'Bebas Neue', cursive;
  --transition: all 0.3s linear;
  --blackColor: #000000;
  --lightBlack: #010101;
  --whiteColor: #fff;
  --borderColor: #403a3a;
  --inputBgColor: #fafafa;
  --radius: 0.25rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primaryFont);
  width: 100%;
  overflow-x: hidden;
}

select {
  height: 30px;
  cursor: pointer;
}
/*
==============
Hero section
==============
*/
.hero-section {
  background: url('../src/assets/images/Palmtree.gif') center/cover no-repeat fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  min-width: 100vh;
}

.hero-link {
  color: var(--whiteColor);
  font-size: 4rem;
  font-weight: bold;
}

/*Cart buton*/

.add-btn {
  width: 400px;
  height: 46px;
}
.add-btn button {
  background: var(--blackColor);
  width: 100%;
  height: 100%;
  font-size: 1rem;
  border: none;
  color: var(--whiteColor);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .add-btn {
    width: 350px;
  }
}
/*
================
Products Page
================
*/
.products-menu {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.products-logo-box {
  margin-top: 1.5rem;
}
.products-logo-box img {
  width: 150px;
}
.page-title {
  margin-top: 1rem;
}
.products-info {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}
.person-icon {
  width: 28px;
}
.cart-details-container {
  margin-top: -1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-icon {
  cursor: pointer;
}
.cart-number {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blackColor);
}

.cart-number h3 {
  color: var(--whiteColor);
}

@media screen and (max-width: 500px) {
  .cart-details-container {
    margin-right: 2rem;
  }
  .products-logo-box img {
    width: 100px;
  }
  .footer-link img {
    width: 700px;
  }
}

.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-card {
  min-width: 300px;
  cursor: pointer;
  padding: 1rem;
  border-radius: var(--radius);
  border: 1px solid var(--borderColor);
  margin-block: 1rem;
}
.item-card img {
  width: 100%;
  align-items: center;
}

.item-details {
  background: var(--lightBlack);
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.item-details h4,
.item-details h3 {
  color: var(--whiteColor);
}
.items-details h3 {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .products-container {
    display: grid;
    grid-template-columns: minmax(300px, 400px) minmax(300px, 400px);
    justify-content: center;
    gap: 1rem;
  }
  .item-card {
    max-width: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .products-container {
    grid-template-columns: repeat(3, minmax(250px, 350px));
  }
}

.products-footer {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}

.footer-link {
  text-decoration: none;
  color: var(--blackColor);
}
.footer-link img {
  width: 110px;
}

@media screen and (max-width: 500px) {
  .products-footer {
    justify-content: center;
  }
}

/* Product Details Page*/
.item-details-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.single-item-img {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.details-page-boxes div {
  width: 55px;
  height: 55px;
  border: 0.5px solid var(--borderColor);
}
.single-item-details {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-item-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.single-item-header h2 {
  font-family: var(--secondaryFont);
}
.single-product-info {
  margin-block: 2rem;
}
.single-product-info p {
  text-align: justify;
}

.product-size-container {
  margin-block: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .item-details-container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 900px) {
  .single-item-details {
    padding-inline: 1rem;
  }
  .single-item-details {
    width: 350px;
  }
}

/*
==============
Signup Page
==============
*/

.signup-page-form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.username-container {
  display: flex;
  justify-content: space-between;
}
.signup-form {
  width: 420px;
}

.field {
  margin-block: 2rem;
}
.username input,
.field input {
  height: 46px;
  width: 200px;
  background: var(--inputBgColor);
  padding: 1rem;
  outline: none;
  border: 1px solid var(--inputBgColor);
}
label {
  color: var(--blackColor);
  margin-bottom: 0.3rem;
}
.field input {
  width: 100%;
}

.product-link,
.signin-link {
  margin-top: 1rem;
  color: var(--blackColor);
  font-weight: bold;
  transition: var(--transition);
}
.product-link:hover,
.signin-link:hover {
  color: #424542;
}
.signup-submit {
  background: var(--blackColor);
  width: 100%;
  height: 46px;
  font-size: 1rem;
  border: none;
  color: var(--whiteColor);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .username-container {
    flex-direction: column;
  }
  .username {
    margin-top: 1rem;
  }
  .username input {
    width: 100%;
    height: 46px;
  }
  .signup-form {
    width: 350px;
    align-items: flex-start;
    padding-inline: 1rem;
  }

  .field iput {
    width: 100%;
  }
}

/*
==================
Recovery Page 
==================
*/
.recovery-page-header {
  display: flex;
  flex-direction: center;
  align-items: center;
}

/*
================
Info Page
================
*/
.info-section {
  padding-inline: 1.5rem;
}
.single-info-item {
  margin-block: 2rem;
}
.single-info-item p {
  padding-top: 0.5rem;
}

@media screen and (min-width: 900px) {
  .info-section {
    padding-inline: 2.5rem;
  }
  .single-info-item p {
    max-width: 80%;
  }
}

/*Privacy Policy*/
.privacy-header {
  margin-block: 1rem;
}

.privacy-date {
  margin-bottom: 1rem;
}

/*Checkout Page*/
.checkout-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.process-indicator {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-left: 4px solid var(--blackColor);
  border-right: 4px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout-header {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
.address {
  width: 100%;
  background: var(--inputBgColor);
  padding: 1.5rem;
  border: none;
  outline: none;
}
.save-text {
  margin-block: 1rem;
}

/*Checkout final Page*/
.checkout-final-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
