@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}
:root {
  --primaryFont: 'Inter', sans-serif;
  --transition: all 0.3s linear;
  --blackColor: #000000;
  --whiteColor: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primaryFont);
}
/*
==============
Hero section
==============
*/
.hero-section {
  background: url('../src/assets/images/Palmtree.gif') center/cover no-repeat fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  min-width: 100vh;
}

.hero-link {
  color: var(--whiteColor);
  font-size: 4rem;
  font-weight: bold;
}
